extends ./../layouts/admin-layout

block content
    if errorMessage
        .container-fluid
            .row
                .col-lg-12
                    .alert.alert-danger.mb-3  #{errorMessage}
    if infoMessage
        .container-fluid
            .row
                .col-lg-12
                    .alert.alert-info.mb-3  #{infoMessage}
    .container-fluid
        .row
            .col-lg-12
                .card
                    .card-body
                        .card-title
                            h4 #{title}
                        form.product-form(action=formAction, method="POST", enctype="multipart/form-data")
                            .form-row
                                .col
                                    .form-group
                                        label(for="title") Title
                                        input.form-control(type="text", name="title", value=product.title, class=validationErrors.find(e=>e.param === 'title') ? 'invalid' : '', required)#title
                                .col
                                     .form-group
                                        label Image
                                        .form-row
                                                button.btn.btn--green-full.form-control-file-btn(type="button") Upload
                                                input.form-control-file#image(name="image", type="file", accept="image/*")
                                                label#imagePath(for="image").form-control.form-control-file-label #{product.imageUrl}
                            .form-group
                                label(for="description") Description
                                textarea(name="description", cols="30", rows="10", class=validationErrors.find(e=>e.param === 'description') ? 'invalid' : '', required).form-control#description #{product.description}
                            .form-row
                                .col
                                    .form-group
                                        label(for="category") Category
                                        select.form-control(name="category")
                                            each cat in categories
                                                option(selected=(product.category.toString()===cat._id.toString() ? true : false) value=cat._id.toString()) #{cat.name}
                                .col        
                                    .form-group
                                        label(for="price") Price
                                        input.form-control(type="number", name="price", step="0.01", value=product.price, class=validationErrors.find(e=>e.param === 'price') ? 'invalid' : '', required)#price
                            if editing
                                input(type="hidden", value=product._id, name="productId")
                            input(type="hidden",name="_csrf" value=csrfToken)    
                            .form-row
                                .col
                                    button.btn(type="submit") #{title}
                                .col.text-right
                                    a.btn.btn--grey(href="/admin/products") Cancel
