extends ./../layouts/admin-layout

block content
    if errorMessage
        .container-fluid
            .row
                .col-lg-12
                    .alert.alert-danger.mb-3  #{errorMessage}
    if infoMessage
        .container-fluid
            .row
                .col-lg-12
                    .alert.alert-info.mb-3  #{infoMessage}
    .container-fluid
        .row
            .col-lg-12
                .card
                    .card-body
                        .card-title
                            h4 Products
                        if prods.length>0
                            .table-responsive
                                table.table
                                    thead
                                        tr
                                            th #
                                            th Name 
                                            th Category
                                            th Description
                                            th Price
                                            th 
                                    tbody
                                        each product, index in prods
                                            tr
                                                th.table-id #{index}
                                                td.table-title #{product.title}
                                                td.table-category #{product.category}
                                                td.table-description #{product.description}
                                                td.table-price $ #{product.price}
                                                td.table-actions 
                                                    a.action-btn.edit-action(href="/admin/edit-product/"+product._id+"?edit=true")
                                                        i.fa.fa-pencil(aria-hidden="true")
                                                    form.d-inline-block(action="/admin/delete-product", method="POST")
                                                        input(type="hidden", value=product._id, name="productId")
                                                        input(type="hidden",name="_csrf" value=csrfToken)
                                                        button.action-btn.delete-action(type="submit")
                                                            i.fa.fa-trash-o(aria-hidden="true")
                        else
                            p No products

