extends ./../layouts/shop-layout

block styles
    link(rel="stylesheet", href="/css/shop/cart.css")

block content
    .container.pt-100
        .row
            .col-lg-12
                .row
                    .col-lg-12
                        h1.page__title Cart
                .row
                    if products.length>0
                        .col-lg-12
                            section.cart
                                table.cart-table
                                    tbody
                                        each item in products
                                            tr.cart-item
                                                td.cart-item__info
                                                    a.cart-item__link-img(title="item.title", href="/products/"+item.productId)
                                                        img.cart-item__img(alt="item.title", src=item.imageUrl)
                                                    a.cart-item__link
                                                        h2.cart-item__title #{item.title}
                                                            span.cart-item__count x #{item.qty}
                                                <!--td.cart-item__qty -->
                                                <!--    input(type="number", name="qty")-->
                                                td.cart-item__price-box
                                                    span.cart-item__price $ #{item.price}
                                                    form(action="/cart-delete-item", method="POST")
                                                        input(type="hidden", value=item.productId, name="productId")
                                                        button(type="submit").cart-item__remove Remove
                                    tfoot.cart__total
                                        tr.cart-item
                                            td.cart-total__info
                                                    h2.cart-item__title Total
                                                    p.cart-item__summary Shipping will be calculated at the next step
                                            td.cart-item__price-box
                                                span.cart-item__price $ #{totalPrice}
                    else
                        .col-lg-12
                            h2 No products in the carts