extends ./../layouts/shop-layout

block styles
    link(rel="stylesheet", href="/css/shop/checkout.css")

block shop-content
    .container.pt-100
        .row
            .col-lg-12
                .row
                    .col-lg-12
                            h1.page__title Cart
                if infoMessage
                    .row
                            .col-lg-12
                                .alert.alert-info.mb-3  #{infoMessage}
                if errorMessage
                    .row
                            .col-lg-12
                                .alert.alert-info.mb-3  #{errorMessage}
                .row
                        .col-lg-6
                            section.billing-details
                                h2 Billing details
                                form(method="POST", action="/create-order")
                                    .form-group
                                        label(for="name") First name
                                        input.form-control(type="text", name="name", value=tempUser.name, required)
                                    .form-group
                                        label(for="surname") Last name
                                        input.form-control(type="text", name="surname",value=tempUser.surname, required)
                                    .form-group
                                        label(for="company") Company name
                                        input.form-control(type="text", name="company", value=tempUser.company)
                                    .form-group
                                        label(for="country") Country
                                        select.form-control(name="country", value=tempUser.country)
                                            option Italy
                                    .form-group
                                        label(for="streetAddress") Street Address
                                        input.form-control(type="text", name="streetAddress", value=tempUser.streetAddress, required)
                                    .form-group
                                        label(for="postcode") Postcode/ZIP
                                        input.form-control(type="text", name="postcode", value=tempUser.postcode, required)
                                    .form-group
                                        label(for="city") Town/city
                                        input.form-control(type="text", name="city", value=tempUser.city, required)
                                    .form-group
                                        label(for="province") Province
                                        input.form-control(type="text", name="province", value=tempUser.province, required)
                                    .form-group
                                        label(for="phone") Phone
                                        input.form-control(type="text", name="phone", value=tempUser.phone, required)
                                    .form-group
                                        label(for="notes") Order notes
                                        textarea.form-control(cols="30", rows="10", name="notes")
                                    input(type="hidden",name="_csrf" value=csrfToken)
                                    script.stripe-button(
                                        src="https://checkout.stripe.com/checkout.js", 
                                        data-key=stripeKey, 
                                        data-amount=totalPrice * 100 
                                        data-name="Your Order"  data-description="All the items you ordered",
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png",
                                        data-locale="auto",
                                        data-currency="usd")    
                                    <!--button.btn.btn--green(type="submit") Order now-->
                        .col-lg-6
                            section.checkout-list
                                h2 Your order
                                table.checkout-table
                                    tbody
                                        each item in products
                                            tr.checkout-item
                                                td.checkout-item__info                                       
                                                    .checkout-item__title #{item.product.title} 
                                                        span.checkout-item__count x #{item.quantity}
                                                td.checkout-item__price-box
                                                    span.checkout-item__price $ #{item.product.price * item.quantity}
                                    tfoot.checkout__total
                                        tr
                                            td.checkout-total__info
                                                    .checkout-total__title Shipping 
                                            td.checkout-total__price-box
                                                span.checkout-total__price $ 6
                                        tr
                                            td.checkout-total__info
                                                    .checkout-total__title Total
                                            td.checkout-total__price-box
                                                span.checkout-item__price $ #{totalPrice}