extends ./../layouts/shop-layout

block shop-content
    .container.pt-100
        .row
            .col-lg-12
                if categories.length>0
                    .row.categories__list
                        each cat in categories
                            .col-lg-2
                                a.category__link(href="/categories/"+cat._id) #{cat.name}
                .row
                    .col-lg-12
                        h1.page__title All Products
                        p List of all the products...
                .row
                    if prods.length>0
                        each product in prods
                            .col-lg-4
                                article.product
                                    a.product__image(href="/products/"+product._id)
                                        img(src="/"+product.imageUrl, alt=product.title) 
                                    .product__content
                                        a.product__link(href="/products/"+product._id)
                                            h2.product__title #{product.title} 
                                    
                                    .product__actions
                                        form(action="/cart", method="POST")
                                            input(type="hidden",name="_csrf" value=csrfToken)
                                            input(type="hidden", name="productId", value=product._id)
                                            button.btn.btn--full.btn--green(type="submit") Add to Cart 
                                                span.product__price $#{product.price}
                        nav.pagination__nav
                            ul.pagination.pagination-md
                                if currentPage!==1
                                    li.page-item
                                            a.page-link(href="/products?page="+previousPage) 
                                                span &laquo;
                                if hasPreviousPage
                                    li.page-item
                                            a.page-link(href="/products?page="+previousPage) #{previousPage}
                                li.page-item.active
                                    a.page-link(href="/products?page="+currentPage) #{currentPage}
                                if hasNextPage
                                    li.page-item
                                            a.page-link(href="/products?page="+nextPage)  #{nextPage} 
                                if currentPage!==lastPage
                                    li.page-item
                                            a.page-link(href="/products?page="+nextPage)
                                                span &raquo;
                    else
                        .col-lg-12
                            h1 No products

