extends ./../layouts/shop-layout

block content
    .container.pt-100
        .row
            .col-lg-12
                .row
                    .col-lg-12
                        h1.page__title My Products
                        p List of all the products...
                .row
                    if prods.length>0
                        each product in prods
                            .col-lg-4
                                article.product
                                    a.product__image(href="/products/"+product.productId)
                                        img(src=product.imageUrl, alt=product.title) 
                                    .product__content
                                        a.product__link(href="/products/"+product.productId)
                                            h2.product__title #{product.title} 
                                            span.product__category #{product.category}
                                        <!--p.product__description #{product.description}-->
                                    .product__actions
                                        form(action="/cart", method="POST")
                                            button.btn.btn--full.btn--green(type="submit") Add to Cart 
                                                span.product__price $#{product.price}
                                            input(type="hidden", name="productId", value=product.productId)
                                            
                    else
                        .col-lg-12
                            h1 No products

