extends ./../layouts/customer-layout

block content-customer
    h4 Orders
    if orders.length>0
        section.orders
            ul.orders__list
                each order, index in orders
                    li.order__item 
                        .row
                            .col-lg-9
                                each prod in order.products
                                    a(href="/products/"+prod.product._id, target="_blank").order__product
                                        img.order__product-img(src='/'+prod.product.imageUrl, alt=prod.product.title)
                                        .order__quantity #{prod.quantity}
                                        <!--p #{prod.title} x #{prod.quantity}-->
                                .order__details
                                    .row
                                        .col-lg-3.detail
                                            .detail__title Order number
                                            .detail__descr # #{index + 1}
                                        .col-lg-3.detail
                                            .detail__title Total   
                                            .detail__descr  #{order.totalPrice}     
                                        .col-lg-3.detail
                                            .detail__title Order date   
                                            .detail__descr  Order date  
                                        .col-lg-3.detail
                                            .detail__title Status   
                                            .detail__descr  Delivered  
                            .col-lg-3
                                a.btn.btn--green(href="/customer/invoice/"+order._id) Invoice
                                a.btn.mt-2(href="/customer/orders/"+order._id) View   

    else
        h2 No orders